@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@font-face {
  font-family: "GetVoIP Grotesque";
  src: local("GetVoIP Grotesque"), local("GetVoIPGrotesque"), url("../fonts/getvoip/Getvoipgrotesque.woff2") format("woff2"), url("../fonts/getvoip/Getvoipgrotesque.woff") format("woff"), url("../fonts/getvoip/Getvoipgrotesque.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GetVoIP Grotesque";
  src: local("GetVoIP Grotesque Italic"), local("GetVoIPGrotesque-Italic"), url("../fonts/getvoip/Getvoipgrotesqueitalic.woff2") format("woff2"), url("../fonts/getvoip/Getvoipgrotesqueitalic.woff") format("woff"), url("../fonts/getvoip/Getvoipgrotesqueitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/mont/Mont-Regular.eot");
  src: local("Mont Regular"), local("Mont-Regular"), url("../fonts/mont/Mont-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-Regular.woff2") format("woff2"), url("../fonts/mont/Mont-Regular.woff") format("woff"), url("../fonts/mont/Mont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/mont/Mont-SemiBold.eot");
  src: local("Mont SemiBold"), local("Mont-SemiBold"), url("../fonts/mont/Mont-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-SemiBold.woff2") format("woff2"), url("../fonts/mont/Mont-SemiBold.woff") format("woff"), url("../fonts/mont/Mont-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button, select {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100svh;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

body {
  font-family: "Mont", sans-serif;
  font-weight: 400;
  color: #292929;
}

button,
input,
select,
textarea {
  font-family: "Mont", sans-serif;
  font-weight: 400;
  color: #292929;
}

.container {
  max-width: 1182px;
  margin: 0 auto;
}
@media screen and (max-width: 1212px) {
  .container {
    max-width: calc(100% - 30px);
  }
}

.btn-red {
  background: #ed1c24;
  color: #fff;
  padding: 14px 25px 12px 26px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 130%;
}
.btn-gr {
  position: relative;
  flex-shrink: 0;
  padding: 33px 35px;
  z-index: 1;
  font-size: 18px;
  line-height: 130%;
  font-weight: 600;
  color: #fff;
}
.btn-gr::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 11px;
  bottom: -5px;
  width: calc(100% - 22px);
  height: 18.5px;
  background: #333333;
  border-radius: 5px;
  filter: blur(7px);
}
.btn-gr::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to right, #ed1c24, #d34d52, #ed1c24);
  box-shadow: 0 4px 2px #b02a2f;
}

.swp_btn button {
  width: 59px;
  height: 43px;
  background: #ed1c24;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_inp {
  position: relative;
  z-index: 1;
  width: 100%;
}
.form_inp img {
  position: absolute;
  z-index: -1;
  right: 23px;
  top: 50%;
  transform: translateY(-50%);
}
.form_inp input {
  padding: 22px 21px;
  border: 1px solid #b9b9b9;
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
  line-height: 107%;
}
.form_inp input::-moz-placeholder {
  color: #838383;
}
.form_inp input::placeholder {
  color: #838383;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.header__container {
  max-width: 1052px;
  padding: 18px 18px 13px;
  background: #fff;
  border-radius: 0 0 50px 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1112px) {
  .header__container {
    width: calc(100% - 60px);
  }
}
@media screen and (max-width: 992px) {
  .header__container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.header__container::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 0px;
  transform: translateX(-100%);
  width: 9px;
  height: 9px;
  border-radius: 2px 9px 2px 0;
  box-shadow: 3px -3px #fff;
  background: transparent;
}
.header__container::after {
  content: "";
  position: absolute;
  top: 23px;
  right: 0px;
  transform: translateX(100%);
  width: 9px;
  height: 9px;
  border-radius: 9px 2px 0 2px;
  box-shadow: -3px -3px #fff;
  background: transparent;
}
.header__logo {
  flex-shrink: 0;
}
@media screen and (max-width: 992px) {
  .header__logo img {
    height: 52px;
  }
}
.header .phone {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  color: #ed1c24;
  font-family: "GetVoIP Grotesque", sans-serif;
}
@media screen and (max-width: 992px) {
  .header .phone {
    display: none;
  }
}
.header .phone-mb {
  display: none;
  align-items: center;
  justify-content: center;
  background: #cad1d9;
  width: 47px;
  height: 47px;
  border-radius: 5px;
}
@media screen and (max-width: 992px) {
  .header .phone-mb {
    display: flex;
  }
}
.header .mail {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-family: "GetVoIP Grotesque", sans-serif;
}
@media screen and (max-width: 992px) {
  .header .mail {
    display: none;
  }
}
.header__right {
  display: flex;
  align-items: center;
  gap: 11px;
}
@media screen and (max-width: 992px) {
  .header__right {
    gap: 7px;
  }
}
@media screen and (max-width: 992px) {
  .header .btn-red {
    display: none;
  }
}
.header .bars {
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cad1d9;
  border-radius: 5px 5px 30px 5px;
}

.home {
  position: relative;
  z-index: 1;
  margin-top: 23px;
}
.home__bg {
  position: absolute;
  z-index: -1;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 1402px;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1402px) {
  .home__bg {
    border-radius: 0;
  }
}
.home__container {
  height: 711px;
  padding-top: 137px;
}
.home__title {
  font-size: 50px;
  font-family: "GetVoIP Grotesque", sans-serif;
  line-height: 120%;
  margin-bottom: 33px;
  position: relative;
  text-transform: uppercase;
}
.home__title::before {
  content: "";
  width: 470px;
  height: 14px;
  position: absolute;
  top: 97px;
  left: 147px;
  background: #f9fafa;
  border-radius: 100%;
  filter: blur(10px);
}
.home__title::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 91px;
  width: 330px;
  height: 14px;
  background: #f9fafa;
  border-radius: 100%;
  filter: blur(10px);
}
.home__description {
  max-width: 511px;
  font-size: 26px;
  line-height: 107%;
  margin-bottom: 42px;
}
.home__description span {
  color: #ed1c24;
  display: inline;
}
.home__bottom {
  background: #fff;
  border-radius: 20px;
  max-width: 797px;
  padding: 8px 10px 13px;
  display: flex;
  align-items: center;
  gap: 27px;
}
.home__bottom p {
  font-size: 16px;
  line-height: 107%;
}
.home__card {
  max-width: 1163px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1193px) {
  .home__card {
    max-width: calc(100% - 30px);
  }
}
@media screen and (max-width: 992px) {
  .home__card {
    flex-direction: column;
    background: #d8d9e0;
    gap: 15px;
    border-radius: 0 0 10px 10px;
    padding: 24px 0 35px;
  }
}
.home__card_wrap {
  max-width: 1402px;
  margin: 26px auto 89px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .home__card_wrap {
    margin: 0 auto 50px;
  }
}
.home__card_wrap .card-bg {
  position: absolute;
  width: 160px;
  height: 44px;
  background: #fff;
  z-index: -1;
  top: -26px;
  transform: translateY(-100%);
}
@media screen and (max-width: 992px) {
  .home__card_wrap .card-bg {
    display: none;
  }
}
.home__card_wrap .card-bg-1 {
  left: 0;
}
@media screen and (min-width: 1402px) {
  .home__card_wrap .card-bg-1::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0px;
    width: 20px;
    height: 20px;
    border-radius: 0 0 0 20px;
    background: transparent;
    box-shadow: -1px 1px #fff, -2px 2px #fff, -2px 2px #fff, -6px 6px #fff;
  }
}
.home__card_wrap .card-bg-2 {
  right: 0;
}
@media screen and (min-width: 1402px) {
  .home__card_wrap .card-bg-2::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 0px;
    width: 20px;
    height: 20px;
    border-radius: 0 0 20px 0;
    background: transparent;
    box-shadow: 1px 1px #fff, 2px 2px #fff, 2px 2px #fff, 6px 6px #fff;
  }
}
.home__card_item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 230px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .home__card_item {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 9px;
  }
}
.home__card_item:last-child {
  width: 240px;
}
.home__card_item:first-child, .home__card_item:last-child {
  position: relative;
}
@media screen and (min-width: 992px) {
  .home__card_item:first-child, .home__card_item:last-child {
    transform: translateY(-42px);
  }
}
.home__card_item p {
  font-size: 16px;
  line-height: 107%;
}
@media screen and (max-width: 992px) {
  .home__card_item p {
    font-size: 18px;
  }
}
.home__card_item .item-bg {
  position: absolute;
  z-index: -1;
  background: #fff;
  height: 44px;
  width: 100%;
  top: -28px;
}
@media screen and (max-width: 992px) {
  .home__card_item .item-bg {
    display: none;
  }
}
.home__card_item:nth-child(1) .item-bg {
  right: -34px;
  border-radius: 0 10px 0 0;
}
.home__card_item:nth-child(1) .item-bg::before {
  content: "";
  position: absolute;
  right: -10px;
  top: 34px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 0 0 0 10px;
  box-shadow: -1px 1px #fff, -2px 2px #fff, -2px 2px #fff, -6px 6px #fff;
}
.home__card_item:nth-child(4) .item-bg {
  left: -34px;
  border-radius: 10px 0 0 0;
}
.home__card_item:nth-child(4) .item-bg::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 34px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 0 0 10px 0;
  box-shadow: 1px 1px #fff, 2px 2px #fff, 2px 2px #fff, 6px 6px #fff;
}

.skills__title {
  text-align: center;
  font-family: "GetVoIP Grotesque", sans-serif;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.skills__description {
  font-size: 26px;
  line-height: 107%;
  text-align: center;
  margin-bottom: 50px;
}
.skills .swiper {
  padding-bottom: 100px;
}
.skills__card {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  position: relative;
}
.skills__card .swp_btn {
  position: absolute;
  left: 425px;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 15px;
  background: #fff;
  padding: 0 12px 16px 0;
}
.skills__card .swp_btn .b-radius {
  position: absolute;
  bottom: -0.5px;
  left: 0;
  transform: translateX(-100%);
}
.skills__card .swp_btn::after {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  right: 0;
  bottom: -19px;
  background: transparent;
  border-radius: 0 19px 0 0;
  box-shadow: 1px -1px #fff, 2px -2px #fff, 3px -3px #fff, 6px -6px #fff;
}
.skills__card_img {
  width: 570px;
  height: 413px;
  flex-shrink: 0;
  background: #d8d9e0;
  margin-top: 22px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.skills__card_img img {
  mix-blend-mode: darken;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 20px;
}
.skills__card_content {
  width: calc(100% - 600px);
  padding-top: 12px;
}
.skills__card_content h3 {
  color: #ed1c24;
  font-size: 22px;
  font-weight: 600;
  line-height: 107%;
  margin-bottom: 24px;
}
.skills__card_content p {
  font-size: 16px;
  line-height: 107%;
  margin-bottom: 20px;
}
.skills__card_content ul {
  background: #d8d9e0;
  border-radius: 10px;
  padding: 20px 28px 16px;
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: disc;
}
.skills__card_content ul li {
  font-size: 16px;
  line-height: 107%;
}
.skills__card_content ul li::marker {
  color: #ed1c24;
  font-size: 20px;
}

.contact {
  margin-bottom: 40px;
}
.contact_in {
  display: flex;
  align-items: stretch;
}
@media screen and (max-width: 993px) {
  .contact_in {
    flex-direction: column;
  }
}
.contact_block {
  width: 50%;
}
@media screen and (max-width: 993px) {
  .contact_block {
    width: 100%;
  }
}
.contact_left {
  padding: 50px 30px 42px 37px;
  background-color: #d8d9e0;
  border-radius: 30px 0 0 30px;
  position: relative;
}
@media screen and (max-width: 993px) {
  .contact_left {
    padding: 40px 20px 76px 20px;
    border-radius: 30px;
  }
}
.contact_left__bg {
  position: absolute;
  right: 0;
  top: -0.5px;
  height: calc(100% + 1px);
  transform: translateX(52%);
}
@media screen and (max-width: 992px) {
  .contact_left__bg {
    position: absolute;
    right: unset;
    left: 0;
    top: 261.5px;
    width: 100%;
    height: calc(100% + 1px);
    transform: translateX(0) rotate(90deg);
  }
}
.contact_right {
  border-radius: 0 30px 30px 0;
  overflow: hidden;
}
.contact_right iframe {
  width: 100%;
  height: 100%;
  border-color: transparent;
}
@media screen and (max-width: 993px) {
  .contact_right {
    border-radius: 30px;
    height: 370px;
  }
}
.contact h3 {
  font-family: "GetVoIP Grotesque", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #292929;
  text-transform: uppercase;
}
@media screen and (max-width: 993px) {
  .contact h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
  }
}
.contact h6 {
  margin: 15px 0 20px 0;
  font-family: "Mont", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 28.04px;
  color: #292929;
}
@media screen and (max-width: 993px) {
  .contact h6 {
    font-size: 22px;
    line-height: 23px;
    text-align: center;
    margin: 15px 0 40px 0;
  }
}
.contact ul {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (max-width: 992px) {
  .contact ul {
    margin-bottom: 25px;
  }
}
.contact ul span {
  font-family: "Mont", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 17.25px;
  color: #838383;
}
.contact ul a,
.contact ul address {
  font-family: "GetVoIP Grotesque", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 19.41px;
  color: #292929;
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 15px;
}
.contact ul a svg,
.contact ul address svg {
  flex-shrink: 0;
}
.contact .btn-gr {
  width: 331px;
}
@media screen and (max-width: 992px) {
  .contact .btn-gr {
    width: 100%;
  }
}

.footer {
  margin-bottom: 77px;
}
@media screen and (max-width: 993px) {
  .footer {
    margin-bottom: 50px;
  }
}
.footer_in {
  padding: 44px 34px 16px 37px;
  border-radius: 20px;
  background-color: #727272;
}
@media screen and (max-width: 993px) {
  .footer_in {
    padding: 40px 0px 28px 0px;
  }
}
.footer_logo {
  max-width: 263px;
}
.footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 37px;
  border-bottom: 1px solid #d8d9e0;
}
@media screen and (max-width: 993px) {
  .footer_top {
    flex-direction: column;
    gap: 32px;
    padding: 0 10px 40px;
  }
}
@media screen and (max-width: 993px) {
  .footer .btn-red {
    width: 230px;
  }
}
.footer_bottom {
  padding-top: 21px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
@media screen and (max-width: 993px) {
  .footer_bottom {
    flex-direction: column;
    gap: 17px;
    align-items: center;
    padding: 21px 10px 0 10px;
  }
}
.footer_bottom .text_one {
  max-width: 360px;
}
@media screen and (max-width: 993px) {
  .footer_bottom .text_one {
    max-width: 370px;
    text-align: center;
  }
}
.footer_bottom .text_two {
  text-align: right;
}
@media screen and (max-width: 993px) {
  .footer_bottom .text_two {
    max-width: 370px;
    text-align: center;
  }
}
.footer_bottom .text_two .br_one {
  display: flex;
}
.footer_bottom span {
  font-family: "Mont", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 17.25px;
  color: #d8d9e0;
}
.footer_bottom span .br_one {
  display: none;
}
.footer ul {
  display: flex;
  align-items: center;
  gap: 47px;
}
@media screen and (max-width: 993px) {
  .footer ul {
    flex-direction: column;
    gap: 32px;
  }
}
.footer ul a {
  font-family: "GetVoIP Grotesque", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 19.41px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer ul a svg {
  flex-shrink: 0;
}

.contact-form {
  margin-bottom: 100px;
}
.contact-form__container {
  background: #d8d9e0;
  position: relative;
  z-index: 1;
  padding: 33px 39px 42px;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  gap: 55px;
}
.contact-form .links {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 31px 33px 24px 0;
  border-radius: 0 0 50px 0;
}
.contact-form .links::before {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 0;
  background: transparent;
  width: 19px;
  height: 19px;
  border-radius: 19px 0 0 0;
  box-shadow: -1px -1px #fff, -2px -2px #fff, -3px -3px #fff, -6px -6px #fff;
}
.contact-form .links::after {
  content: "";
  position: absolute;
  top: 0;
  right: -19px;
  background: transparent;
  width: 19px;
  height: 19px;
  border-radius: 19px 0 0 0;
  box-shadow: -1px -1px #fff, -2px -2px #fff, -3px -3px #fff, -6px -6px #fff;
}
.contact-form .links a {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  line-height: 107%;
  font-family: "GetVoIP Grotesque", sans-serif;
}
.contact-form .links li:first-child {
  color: #ed1c24;
}
.contact-form__left {
  padding-top: 83px;
}
.contact-form__left .title {
  font-size: 40px;
  line-height: 120%;
  font-family: "GetVoIP Grotesque", sans-serif;
  margin-bottom: 12px;
}
.contact-form__left .subtitle {
  font-size: 40px;
  line-height: 120%;
  font-family: "GetVoIP Grotesque", sans-serif;
  color: #ed1c24;
  margin-bottom: 16px;
}
.contact-form__left p {
  font-size: 16px;
  line-height: 107%;
  margin-bottom: 31px;
}
.contact-form__left h4 {
  font-size: 22px;
  line-height: 107%;
}
.contact-form__left .alert {
  position: absolute;
  right: 49px;
  bottom: 44px;
  width: 251px;
  text-align: center;
  z-index: 1;
  padding-top: 56px;
}
.contact-form__left .alert img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.contact-form__left .alert h4 {
  font-size: 20px;
  line-height: 13px;
  font-family: "GetVoIP Grotesque", sans-serif;
  color: #ed1c24;
  margin-bottom: 16px;
}
.contact-form__left .alert h5 {
  font-size: 16px;
  color: #676767;
}
.contact-form__bg {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 505px;
}
.contact-form__right {
  display: flex;
  flex-direction: column;
  max-width: 331px;
  gap: 22px;
}
.contact-form__right p {
  font-size: 15px;
  line-height: 107%;
  color: #999999;
  padding: 2px 0 15px;
}
.contact-form__right .network {
  display: flex;
  align-items: center;
  gap: 26px;
}

.direction {
  margin-bottom: 100px;
}
.direction__title {
  max-width: 1063px;
  margin: 0 auto 15px;
  font-size: 40px;
  line-height: 120%;
  font-family: "GetVoIP Grotesque", sans-serif;
  text-align: center;
}
@media screen and (max-width: 993px) {
  .direction__title {
    font-size: 24px;
    line-height: 28px;
  }
}
.direction__description {
  font-size: 26px;
  line-height: 107%;
  max-width: 803px;
  margin: 0 auto 50px;
}
@media screen and (max-width: 993px) {
  .direction__description {
    text-align: center;
    font-size: 22px;
    line-height: 23px;
    margin-bottom: 30px;
  }
}
.direction__content {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
@media screen and (max-width: 993px) {
  .direction__content {
    flex-direction: column;
  }
}
.direction__content_swp {
  width: calc(100% - 410px);
  padding-left: 151px;
  overflow: hidden;
  border-radius: 10px;
}
@media screen and (max-width: 993px) {
  .direction__content_swp {
    width: 100%;
  }
}
.direction__content_swp .swiper {
  width: 307px;
  margin: 0;
  overflow: visible;
}
.direction__content_swp .swiper-slide {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  height: 459px;
}
.direction__content_swp .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.direction__content_swp .swiper-slide:not(.swiper-slide-active) {
  width: 136px !important;
}
.direction__content_swp .swiper-slide-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.direction__content_swp .swiper-slide-active img {
  height: 388px;
  border-radius: 10px;
}
.direction__content_swp .swiper-slide .swp_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.direction__content_right {
  width: 378px;
}
@media screen and (max-width: 993px) {
  .direction__content_right {
    width: 100%;
  }
}
.direction__content_right h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 107%;
  margin-bottom: 16px;
  color: #ed1c24;
}
@media screen and (max-width: 993px) {
  .direction__content_right h3 {
    text-align: center;
  }
}
.direction__content_right p {
  font-size: 16px;
  line-height: 107%;
  margin-bottom: 21px;
}
@media screen and (max-width: 993px) {
  .direction__content_right p {
    text-align: center;
    margin-bottom: 24px;
  }
}
.direction__content_right ul {
  background: #d8d9e0;
  padding: 20px 12px 19px 24px;
  border-radius: 10px;
  list-style-type: disc;
  margin-bottom: 32px;
}
@media screen and (max-width: 993px) {
  .direction__content_right ul {
    padding: 16px 3px 15px 30px;
    background: #fff;
    margin-bottom: 24px;
  }
}
.direction__content_right ul li {
  font-size: 16px;
  line-height: 107%;
}
.direction__content_right ul li::marker {
  color: #ed1c24;
  font-size: 20px;
}
.direction__content_right .btn-gr {
  padding: 33px 12px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 600;
  line-height: 130%;
}
@media screen and (max-width: 993px) {
  .direction__content_right .btn-gr {
    padding: 33px 10px;
  }
}
@media screen and (max-width: 993px) {
  .direction {
    background: #d8d9e0;
    padding: 50px 0 35px 0;
  }
}

.delivery {
  margin-bottom: 80px;
}
@media screen and (max-width: 992px) {
  .delivery {
    margin-bottom: 50px;
  }
}
.delivery__title {
  text-align: center;
  font-size: 40px;
  line-height: 120%;
  font-family: "GetVoIP Grotesque", sans-serif;
  text-transform: uppercase;
  margin-bottom: 19px;
}
@media screen and (max-width: 992px) {
  .delivery__title {
    font-size: 24px;
    line-height: 24px;
    max-width: 305px;
    margin: 0 auto;
  }
}
.delivery__content {
  position: relative;
  height: 599px;
}
@media screen and (max-width: 992px) {
  .delivery__content {
    height: unset;
  }
}
.delivery__content_text {
  position: absolute;
  left: 50%;
  top: -4px;
  width: 570px;
  height: 54px;
  transform: translateX(-50%);
  text-align: center;
  background: #fff;
  border-radius: 0 0 50px 50px;
  font-size: 26px;
  line-height: 107%;
}
.delivery__content_text::before {
  content: "";
  width: 10px;
  height: 10px;
  background: transparent;
  position: absolute;
  right: -9px;
  top: 4px;
  border-radius: 10px 0 0 0;
  box-shadow: -1px -1px #fff, -2px -2px #fff, -3px -3px #fff;
}
.delivery__content_text::after {
  content: "";
  width: 10px;
  height: 10px;
  background: transparent;
  position: absolute;
  left: -9px;
  top: 4px;
  border-radius: 0 10px 0 0;
  box-shadow: 1px -1px #fff, 2px -2px #fff, 3px -3px #fff;
}
@media screen and (max-width: 992px) {
  .delivery__content_text {
    position: unset;
    transform: none;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    margin: 15px auto 40px auto;
    font-size: 22px;
    font-weight: 600;
    height: unset;
    line-height: 23.72px;
  }
  .delivery__content_text::before, .delivery__content_text::after {
    display: none;
  }
}
.delivery__content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
@media screen and (max-width: 992px) {
  .delivery__content img {
    height: 224px;
    border-radius: 10px;
  }
}/*# sourceMappingURL=style.css.map */