@import './global';
@import './normalize';

body {
    font-family: $font-mont;
    font-weight: 400;
    color: #292929;
}

button, input, select, textarea {
    font-family: $font-mont;
    font-weight: 400;
    color: #292929;
}

.container {
    max-width: 1182px;
    margin: 0 auto;
}

.btn {
    &-red {
        background: #ED1C24;
        color: #fff;
        padding: 14px 25px 12px 26px;
        border-radius: 5px;
        font-size: 16px;
        line-height: 130%;
    }

    &-gr {
        position: relative;
        flex-shrink: 0;
        padding: 33px 35px;
        z-index: 1;
        font-size: 18px;
        line-height: 130%;
        font-weight: 600;
        color: #FFF;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 11px;
            bottom: -5px;
            width: calc(100% - 22px);
            height: 18.5px;
            background: #333333;
            border-radius: 5px;
            filter: blur(7px);
        }

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background: linear-gradient(to right, #ED1C24, #D34D52, #ED1C24);
            box-shadow: 0 4px 2px #B02A2F;
        }
    }
}

.swp_btn {
    button {
        width: 59px;
        height: 43px;
        background: #ED1C24;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// Header
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    &__container {
        max-width: 1052px;
        padding: 18px 18px 13px;
        background: #FFF;
        border-radius: 0 0 50px 50px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::before {
            content: "";
            position: absolute;
            top: 23px;
            left: 0px;
            transform: translateX(-100%);
            width: 9px;
            height: 9px;
            border-radius: 2px 9px 2px 0;
            box-shadow: 3px -3px #FFF;
            background: transparent;
        }

        &::after {
            content: "";
            position: absolute;
            top: 23px;
            right: 0px;
            transform: translateX(100%);
            width: 9px;
            height: 9px;
            border-radius: 9px 2px 0 2px;
            box-shadow: -3px -3px #FFF;
            background: transparent;
        }
    }

    .phone {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 18px;
        color: #ED1C24;
        font-family: $font-getvoip;
    }

    .mail {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 18px;
        font-family: $font-getvoip;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 11px;
    }

    .bars {
        width: 47px;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #CAD1D9;
        border-radius: 5px 5px 30px 5px;
    }

}
// Header end

// Home
.home {
    position: relative;
    z-index: 1;
    margin-top: 23px;

    &__bg {
        position: absolute;
        z-index: -1;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        width: 1402px;
        height: 100%;
        border-radius: 20px;
    }

    &__container {
        height: 711px;
        padding-top: 137px;
    }

    &__title {
        font-size: 50px;
        font-family: $font-getvoip;
        line-height: 120%;
        margin-bottom: 33px;
        position: relative;
        text-transform: uppercase;

        &::before {
            content: "";
            width: 470px;
            height: 14px;
            position: absolute;
            top: 97px;
            left: 147px;
            background: #F9FAFA;
            border-radius: 100%;
            filter: blur(10px);
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 10px;
            left: 91px;
            width: 330px;
            height: 14px;
            background: #F9FAFA;
            border-radius: 100%;
            filter: blur(10px);
        }
    }

    &__description {
        max-width: 511px;
        font-size: 26px;
        line-height: 107%;
        margin-bottom: 42px;

        span {
            color: #ED1C24;
            display: inline;
        }
    }

    &__bottom {
        background: #FFF;
        border-radius: 20px;
        max-width: 797px;
        padding: 8px 10px 13px;
        display: flex;
        align-items: center;
        gap: 27px;

        p {
            font-size: 16px;
            line-height: 107%;
        }
    }

    &__card {
        max-width: 1163px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_wrap {
            max-width: 1402px;
            margin: 26px auto 89px;
            position: relative;
            z-index: 1;

            .card-bg {
                position: absolute;
                width: 160px;
                height: 44px;
                background: #FFF;
                z-index: -1;
                top: -26px;
                transform: translateY(-100%);

                &-1 {
                    left: 0;

                    &::before {
                        content: "";
                        position: absolute;
                        top: -20px;
                        left: 0px;
                        width: 20px;
                        height: 20px;
                        border-radius: 0 0 0 20px;
                        background: transparent;
                        box-shadow: -1px 1px #FFF,
                                    -2px 2px #FFF,
                                    -2px 2px #FFF,
                                    -6px 6px #FFF;
                    }
                }

                &-2 {
                    right: 0;

                    &::before {
                        content: "";
                        position: absolute;
                        top: -20px;
                        right: 0px;
                        width: 20px;
                        height: 20px;
                        border-radius: 0 0 20px 0;
                        background: transparent;
                        box-shadow: 1px 1px #FFF,
                                    2px 2px #FFF,
                                    2px 2px #FFF,
                                    6px 6px #FFF;
                    }
                }
            }
        }

        &_item {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 230px;
            position: relative;
            z-index: 1;

            &:last-child {
                width: 240px;
            }

            &:first-child, &:last-child {
                position: relative;
                transform: translateY(-42px);
            }

            p {
                font-size: 16px;
                line-height: 107%;
            }

            .item-bg {
                position: absolute;
                z-index: -1;
                background: #FFF;
                height: 44px;
                width: 100%;
                top: -28px;
            }

            &:nth-child(1) {
                .item-bg {
                    right: -34px;
                    border-radius: 0 10px 0 0;

                    &::before {
                        content: "";
                        position: absolute;
                        right: -10px;
                        top: 34px;
                        width: 10px;
                        height: 10px;
                        background: transparent;
                        border-radius: 0 0 0 10px;
                        box-shadow: -1px 1px #FFF,
                                    -2px 2px #FFF,
                                    -2px 2px #FFF,
                                    -6px 6px #FFF;
                    }
                }
            }

            &:nth-child(4) {
                .item-bg {
                    left: -34px;
                    border-radius: 10px 0 0 0;

                    &::before {
                        content: "";
                        position: absolute;
                        left: -10px;
                        top: 34px;
                        width: 10px;
                        height: 10px;
                        background: transparent;
                        border-radius: 0 0 10px 0;
                        box-shadow: 1px 1px #FFF,
                                    2px 2px #FFF,
                                    2px 2px #FFF,
                                    6px 6px #FFF;
                    }
                }
            }
        }
    }
}
// Home end

// Skiils
.skills {
    &__title {
        text-align: center;
        font-family: $font-getvoip;
        font-size: 40px;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__description {
        font-size: 26px;
        line-height: 107%;
        text-align: center;
        margin-bottom: 50px;
    }

    .swiper {
        padding-bottom: 100px;
    }

    &__card {
        display: flex;
        align-items: flex-start;
        gap: 30px;
        position: relative;

        .swp_btn {
            position: absolute;
            left: 425px;
            top: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            gap: 15px;
            background: #fff;
            padding: 0 12px 16px 0;

            .b-radius {
                position: absolute;
                bottom: -0.5px;
                left: 0;
                transform: translateX(-100%);
            }

            &::after {
                content: "";
                width: 19px;
                height: 19px;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }

        &_img {
            width: 570px;
            height: 413px;
            flex-shrink: 0;
            background: #D8D9E0;
            margin-top: 22px;
            border-radius: 20px;
            overflow: hidden;
            position: relative;

            img {
                mix-blend-mode:darken;
                width: 100%;
                height: 100%;
                object-fit: contain;
                margin-top: 20px;
            }
        }

        &_content {
            width: calc(100% - 600px);
            padding-top: 12px;

            h3 {
                color: #ED1C24;
                font-size: 22px;
                font-weight: 600;
                line-height: 107%;
                margin-bottom: 24px;
            }

            p {
                font-size: 16px;
                line-height: 107%;
                margin-bottom: 20px;
            }

            ul {
                background: #D8D9E0;
                border-radius: 10px;
                padding: 20px 28px 16px;
                margin-bottom: 21px;
                display: flex;
                flex-direction: column;
                gap: 12px;
                list-style-type: disc;

                li {
                    font-size: 16px;
                    line-height: 107%;

                    &::marker {
                        color: #ED1C24;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
// Skiils end


// footer
.footer {
    margin-bottom: 77px;

    @include media(993) {
        margin-bottom: 50px;
    }

    &_in {
        padding: 44px 34px 16px 37px;
        border-radius: 20px;
        background-color: #727272;

        @include media(993) {
            padding: 40px 0px 28px 0px;
        }
    }

    &_logo {
        max-width: 263px;
    }

    &_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 37px;
        border-bottom: 1px solid #D8D9E0;

        @include media(993) {
            flex-direction: column;
            gap: 32px;
            padding: 0 10px 40px;
        }
    }

    .btn-red {

        @include media(993) {
            width: 230px;
        }
    }

    &_bottom {
        padding-top: 21px;
        display: flex;
        align-items: start;
        justify-content: space-between;

        @include media(993) {
            flex-direction: column;
            gap: 17px;
            align-items: center;
            padding: 21px 10px 0 10px;
        }

        .text_one {
            max-width: 360px;

            @include media(993) {
                max-width: 370px;
                text-align: center;
            }
        }

        .text_two {
            text-align: right;

            @include media(993) {
                max-width: 370px;
                text-align: center;
            }

            .br_one {
                display: flex;
            }
        }

        span {
            font-family: $font-mont;
            font-size: 16px;
            font-weight: 600;
            line-height: 17.25px;
            color: #D8D9E0;

            .br_one {
                display: none;
            }
        }
    }

    ul {
        display: flex;
        align-items: center;
        gap: 47px;

        @include media(993) {
            flex-direction: column;
            gap: 32px;
        }

        a {
            font-family: $font-getvoip;
            font-size: 18px;
            font-weight: 700;
            line-height: 19.41px;
            color: #FFF;
            display: flex;
            align-items: center;
            gap: 12px;

            svg {
                flex-shrink: 0;
            }
        }
    }
}
// footer
